body {
    margin: auto;
    background-attachment: fixed;
    background-color: cyan;
}

h1 {
    font-size: 50px;
    padding: 25px;
    border: double 5px blue;
}

p {
    font-size: large;
    font: outline;
    font-weight: 100;
    color: currentColor;
}